<h1 class="text-center">Update user</h1>

<div class="d-flex justify-content-center">
  <form action="/users/<%= typeof data !== 'undefined' ? data.id : '' %>/?_method=PUT" method="post" style="width: 60%;">
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-<%= error.type %> alert-dismissible fade show" role="alert">
        <strong><%= error.message %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <div class="form-group">
      <label for="username">Username :</label>
      <input type="text" name="username" id="username" class="form-control form-control-sm" required value="<%= typeof data !== 'undefined' ? data.username : '' %>" readonly>
    </div>
  
    <div class="form-group">
      <label for="first_name">First Name :</label>
      <input type="text" name="first_name" id="first_name" class="form-control form-control-sm" value="<%= typeof data !== 'undefined' ? data.bio.first_name : '' %>" required>
    </div>
  
    <div class="form-group">
      <label for="last_name">Last Name :</label>
      <input type="text" name="last_name" id="last_name" class="form-control form-control-sm" value="<%= typeof data !== 'undefined' ? data.bio.last_name : '' %>" required>
    </div>
  
    <div class="form-group">
      <label for="hobby">Hobby :</label>
      <input type="text" name="hobby" id="hobby" class="form-control form-control-sm" value="<%= typeof data !== 'undefined' ? data.bio.hobby : '' %>">
    </div>

    <div class="form-group">
      <label for="address">Address :</label>
      <textarea name="address" id="address" class="form-control form-control-sm"><%= typeof data !== 'undefined' ? data.bio.address : '' %></textarea>
    </div>
  
    <button type="submit" class="btn btn-success btn-sm px-3">Save</button>
    <a href="/" class="btn btn-warning btn-sm">Back</a>
  </form>
</div>